# dependencies
/node_modules

# build
/dist

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# test
/coverage
/.nyc_output
